body {
    -webkit-tap-highlight-color: transparent;
}
#map {
    height: 590px;
    width: 100%;
}
#autoMap {
    height: 580px;
    width: 100%;
}

/* 탭 스타일 정의 */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #58438d;
}

.tab button {
    background-color: #654e9fb2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-family: "Stylish", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: white;
    border-radius: 15px 15px 0 0;
}

.tab button.active {
    background-color: #58438d;
}

/* 버튼 스타일 정의 */
.button {
    background-color: #654e9fb2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 12px; /* 둥근 모서리 */
}

.button:active {
    background-color: #58438d;
    color: white;
}

/* Text 스타일 정의 */
.text-input {
    border: 2px solid #654e9fb2; /* 테두리 색상 */
    color: #333; /* 텍스트 색상 */
    padding: 10px 20px;
    border-radius: 25px; /* 둥근 모서리 */
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    outline: none; /* 포커스 시 생기는 기본 테두리 제거 */
    transition: border 0.3s ease;
}
.text-input:focus {
    border-color: #58438d; /* 포커스 시 테두리 색상 변경 */
}

/* TextArea 스타일 정의 */
textarea {
    width: 95%;
    height: 25px;
    border-radius: 7px 7px 7px 7px;
    transition: width 0.3s ease, height 0.3s ease;
    outline-color: #58438d;
    font-size: 1rem;
}

textarea:focus {
    width: 95%;
    height: 200px;
    font-size: 1.2rem;
}

h3, p, label {
    font-family: "Stylish", serif;
    font-style: normal;
}

li:active {
    background-color: #654e9fb2;
    color: white;
}