#map {
    height: 610px;
    width: 100%;
}
#autoMap {
    height: 500px;
    width: 100%;
}

/* 탭 스타일 정의 */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tab button {
    background-color: #b3e5fc;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    border-radius: 15px 15px 0 0;
    margin-right: 0; /* 탭 사이 간격*/
}

.tab button.active {
    background-color: #6b95ff;
}

/* 방문 장소 스타일 정의 */
/*
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}*/
.bottom-list-container {
    position: fixed;
    bottom: 0%;
    width: 80%;
    height: 30px;
    background-color: #F9FFFF;
    border-top: 2px solid #FFFFFF;
    border-radius: 15px 15px 0 0;
    transition: bottom 1s;
    z-index: 1000;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    cursor:pointer;
}

.bottom-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: none;
    overflow-y: auto;
    height: 90%;
}
.full-height {
    height: 33% !important;
}
.default-height {
    height: 30px !important;
}
.bottom-list li {
    padding: 10px 0;
    border-bottom: 1px solid #BEEFFF;
}
.hidden {
    height: 0;
}
.show {
    height: 30px;
}
.toggle-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 버튼 스타일 정의 */
.button {
    background-color: #b3e5fc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 12px; /* 둥근 모서리 */
}

.button:active {
    background-color: #6b95ff;
    color: black;
}

/* Text 스타일 정의 */
.text-input {
    border: 2px solid #b3e5fc; /* 테두리 색상 */
    color: #333; /* 텍스트 색상 */
    padding: 10px 20px;
    border-radius: 25px; /* 둥근 모서리 */
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    outline: none; /* 포커스 시 생기는 기본 테두리 제거 */
    transition: border 0.3s ease;
}
.text-input:focus {
    border-color: #FF69B4; /* 포커스 시 테두리 색상 변경 */
}

h3, p, label {
    font-family: "Stylish", serif;
    font-style: normal;
}

li:active {
    background-color: #6b95ff;
    color: black;
}

/* 햄버거 스타일 정의 */
.hamburger{
    background: #FFFFFF;
    border-bottom: 1px solid #BEEFFF;
    border-radius: 15px 15px 0 0;
    position:relative;
    display:block;
    width: 100%;
    height: 30px;
    cursor:pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger span,
.hamburger span:before,
.hamburger span:after{
    display:block;
    position:absolute;
    width:30px;
    height:5px;
    background:#2d2d2d;
    border-radius: 15px 15px 15px 15px;
}
.hamburger span{
    top:50%;
}
.hamburger span:before,
.hamburger span:after{
    content:'';
}
.hamburger span:before{
    top:-10px;
}
.hamburger span:after{
    top:10px;
}

/* TextArea 스타일 정의 */
textarea {
    width: 300px;
    height: 25px;
    border-radius: 7px 7px 7px 7px;
    transition: width 0.3s ease, height 0.3s ease;
    outline-color: #FE6B8B;
}

textarea:focus {
    width: 85%;
    height: 100px;
}
