/* 방문 장소 스타일 정의 */
.tab2-bottom-list-container {
    position: fixed;
    bottom: 0px;
    width: 95%;
    height: 30px;
    border-radius: 15px 15px 0 0;
    transition: all 0.35s;
    z-index: 1000;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    cursor:pointer;
}

.tab2-bottom-list {
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0%;
    display: none;
    overflow-y: auto;
    height: 90%;
    bottom: 1px;
    width: 88%;
}
.full-height {
    height: 33% !important;
}
.default-height {
    height: 30px !important;
}
.tab2-bottom-list-container span{
    right: 5%;
}
.tab2-bottom-list li {
    padding: 10px 0;
    border-bottom: 1px solid #654e9fb2;
}
.hidden {
    height: 0;
}
.show {
    height: 30px;
}

.tab2-bottom-menu{
    border-radius: 15px 15px 0 0;
    position:relative;
    display:block;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}


/* Hamburger */
.tab2-hamburger {
    border-radius: 15px 15px 0 0;
    position:relative;
    display:block;
    height: 45px;
    margin: 0 auto;
    display: grid;
    left: 46%
}
.tab2-hamburger div {
    background-color: #000;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
}
#toggle {
  display: none;
}

#toggle + .tab2-hamburger .top{
    top: -90%;
    right: 25%;
}
#toggle + .tab2-hamburger .middle{
    top: -120%;
    right: 25%;
}
#toggle + .tab2-hamburger .bottom{
    top: -150%;
    right: 25%;
}
#toggle:checked + .tab2-hamburger .top {
    transform: rotate(45deg);
    top: 45%;
    right: 25%;
}
#toggle:checked + .tab2-hamburger .middle {
    transform: scale(0);
    right: 25%;
}
#toggle:checked + .tab2-hamburger .bottom {
    transform: rotate(-45deg);
    right: 25%;
}