/* 방문 장소 스타일 정의 */
.tab2-bottom-list-container {
    position: fixed;
    width: 95%;
    height: 98%;
    transition: all 0.35s;
    z-index: 2001;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.tab2-bottom-list {
    background-color: white;
    margin: 0;
    padding: 0%;
    display: none;
    overflow-y: auto;
    height: 97%;
    width: 88%;
}
.full-height {
    height: 40% !important;
}
.default-height {
    height: 30px !important;
}
.tab2-bottom-list-container span{
    right: 5%;
}
.tab2-bottom-list li {
    padding: 10px 0;
    border-bottom: 1px solid #654e9fb2;
}
.hidden {
    display: block;
}
.show {
    bottom: -10px;
    height: 25px;
}

.tab2-bottom-menu{
    position:relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

/* Hamburger */
.tab2-hamburger {
    position:relative;
    display:block;
    margin: 0 auto;
    display: grid;
    left: 46%
}
.tab2-hamburger div {
    background-color: #000;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
}
#tab2_toggle {
  display: none;
}
#tab2_toggle + .tab2-hamburger .tab2-top{
/*
    top: -90%;
    right: 25%;
*/
}
#tab2_toggle + .tab2-hamburger .tab2-middle{
/*
    top: -120%;
    right: 25%;
*/
}
#tab2_toggle + .tab2-hamburger .tab2-bottom{
/*
    top: -150%;
    right: 25%;
*/
}
#tab2_toggle:checked + .tab2-hamburger .tab2-top {
    transform: rotate(45deg);
    top: 45%;
    right: 25%;
}
#tab2_toggle:checked + .tab2-hamburger .tab2-middle {
    transform: scale(0);
    right: 25%;
}
#tab2_toggle:checked + .tab2-hamburger .tab2-bottom {
    transform: rotate(-45deg);
    bottom: 145%;
    right: 25%;
}

.tab2-li:active {
    background-color: #654e9fb2;
    color: white;
}

.tab2-view-button{
    position: absolute;
    z-index: 2002;
    right: 1%;
}

.tab2-mod-button {
    background-color: #654e9fb2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0px 0px 0px;
    transition-duration: 0.2s;
    border-radius: 12px;
    box-shadow: 0 0 5px 5px #654e9f23;
}

.tab4-popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2003;
}

.tab4-popup {
    position: absolute;
    top: 250px;
    left: 50%;
    right: -25%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    z-index: 2004;
}

.tab2-popTextarea {
    width: 95%;
    height: 330px;
    border-radius: 7px;
    border: solid 2px #654e9fb2;
    transition: width 0.3s ease, height 0.3s ease;
    outline-color: #58438d;
    resize: none;
    box-shadow: 0 0 5px 5px #654e9f23;
}
.tab2-popTextarea:focus {
    width: 95%;
    height: 330px;
    font-size: 1.2rem;
}
.tab2-popTextarea::placeholder {
    color: #654e9fb2;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 3px;  /* 수직 중앙 정렬 */
    padding-left: 10px;  /* 왼쪽 여백 */
},