/* 방문 장소 스타일 정의 */
.tab2-bottom-list-container {
    position: fixed;
    width: 95%;
    height: 98%;
    transition: all 0.35s;
    z-index: 2001;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.tab2-bottom-list {
    background-color: white;
    margin: 0;
    padding: 0%;
    display: none;
    overflow-y: auto;
    height: 97%;
    width: 88%;
}
.full-height {
    height: 40% !important;
}
.default-height {
    height: 30px !important;
}
.tab2-bottom-list-container span{
    right: 5%;
}
.tab2-bottom-list li {
    padding: 10px 0;
    border-bottom: 1px solid #654e9fb2;
}
.hidden {
    display: block;
}
.show {
    bottom: -10px;
    height: 25px;
}

.tab2-bottom-menu{
    position:relative;
    display:block;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
}


/* Hamburger */
.tab2-hamburger {
    position:relative;
    display:block;
    margin: 0 auto;
    display: grid;
    left: 46%
}
.tab2-hamburger div {
    background-color: #000;
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
}
#tab2_toggle {
  display: none;
}
#tab2_toggle + .tab2-hamburger .tab2-top{
/*
    top: -90%;
    right: 25%;
*/
}
#tab2_toggle + .tab2-hamburger .tab2-middle{
/*
    top: -120%;
    right: 25%;
*/
}
#tab2_toggle + .tab2-hamburger .tab2-bottom{
/*
    top: -150%;
    right: 25%;
*/
}
#tab2_toggle:checked + .tab2-hamburger .tab2-top {
    transform: rotate(45deg);
    top: 45%;
    right: 25%;
}
#tab2_toggle:checked + .tab2-hamburger .tab2-middle {
    transform: scale(0);
    right: 25%;
}
#tab2_toggle:checked + .tab2-hamburger .tab2-bottom {
    transform: rotate(-45deg);
    bottom: 145%;
    right: 25%;
}