.tab3_root_div{
    position:relative
}
.table-container {
    height: 85dvh; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: solid 2px #654e9fb2;
    border-radius: 7px;
    position: relative; /* For fixed header */
    width: 98%;
    box-shadow: 0 0 5px 5px #654e9f23;
}

/* Make the header fixed */
.table-container thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #654e9fb2;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
th:nth-child(1){
    width: 15%;
}
tr:hover {
    background-color: #f5f5f5;
}
#searchTerm{
    height: 30px;
    width: 80%;
    border: 2px solid #654e9fb2;
    border-radius: 7px;
    margin: 10px 0px 10px 0px;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    transition: border 0.3s ease;
    box-shadow: 0 0 5px 5px #654e9f23;
}
#searchTerm:focus {
    outline-color: #58438d;
}
#searchTerm::placeholder {
  color: #654e9fb2;
  font-family: "Stylish", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
#tab3_map{
    position:absolute;
    height: 675px;
    width: 99%;
}
.tab3-bottom-list-container{
    position:absolute;
    z-index:1000;
    width:96dvw;
    height:36dvh;
}
.top75dvh{
    top:75dvh;
}
.top40dvh{
    top:40dvh;
}
.tab3-bottom-map-list-container {
    position: relative;
    bottom: 0px;
    width: 99%;
    height: 0dvh;
    border-radius: 15px 15px 0 0;
    transition: all 0.35s;
    z-index: 10;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    display:none;
}

.tab3-bottom-list {
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0%;
    position:relative;
    overflow-y: auto;
    height: inherit;
    width: 100%;

}
.display-none{
    display:none;
}
.top45{
    top: 45dvh;
}
.default-height {
    height: 30px !important;
}
.tab3-bottom-map-list-container span{
    right: 5%;
}
.tab3-bottom-list li {
    padding: 10px 0;
    border-bottom: 1px solid #654e9fb2;
}

.tab3-button {
    background-color: #654e9fb2;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 12px; /* 둥근 모서리 */
    box-shadow: 0 0 5px 5px #654e9f23;
}
.tab3-button:active {
    background-color: #58438d;
    color: white;
}

.edit-input{
    border: 2px solid #654e9fb2;
    border-radius: 7px;
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
    transition: border 0.3s ease;
    box-shadow: 0 0 5px 5px #654e9f23;
}
.edit-input:focus {
    outline-color: #58438d;
}
/* td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */


  .tab3-bottom-menu{
      border-radius: 15px 15px 0 0;
      position:relative;
      display:block;
      width: 100%;
      height: 30px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: right;
      z-index:11
  }


  /* Hamburger */
  .tab3-hamburger {
      border-radius: 15px 15px 0 0;
      position:relative;
      display:block;
      height: 45px;
      margin: 0 auto;
      display: grid;
      left: 46%
  }
  .tab3-hamburger div {
      background-color: #000;
      position: relative;
      width: 40px;
      height: 5px;
      margin-top: 7px;
      transition: all 0.2s ease-in-out;
      border-radius: 35px;
  }
  .tab3-button-line{
    position:relative
    display:flex
  }
  #tab3_toggle {
    display: none;
  }
  #tab3_toggle + .tab3-hamburger .tab3-top{
      top: -90%;
  }
  #tab3_toggle + .tab3-hamburger .tab3-middle{
      top: -120%;
  }
  #tab3_toggle + .tab3-hamburger .tab3-bottom{
      top: -150%;
  }
  #tab3_toggle:checked + .tab3-hamburger .tab3-top {
      transform: rotate(45deg);
      top: 45%;
  }
  #tab3_toggle:checked + .tab3-hamburger .tab3-middle {
      transform: scale(0);
  }
  #tab3_toggle:checked + .tab3-hamburger .tab3-bottom {
      transform: rotate(-45deg);
  }

/*tab3 type 0 marker pin*/
.tab3-marker-pin {
    width: 15px;
    height: 15px;
    border-radius: 50% 50% 50% 50%;
    background: #654e9fb2;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
}